.venv
.venv*
__pycache__
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
suspicious_permissions.log
.aws-sam

# Python library files
*.egg-info/
*.egg
dist/
build/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
htmlcov/
.env
.env.local
.env.*.local
src/*

# Keep these files
!src/app.py
!src/authentication.py
!src/validation.py
!src/main.py
!src/config.py
!src/lambda_handler.py
!requirements.txt
